@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#root {
  --off-white: #ebecbe;
  --dark-gray: #5b6269;
  --light-gray: #9ba0a6;
  --light-brown: #b2916c;
  --dark-orange: #ff4b10;
  --orange: #ff7f41;

  --ff-rx: "RX100", sans-serif;
  --ff-sp: "Supreme", sans-serif;
  --ff-pp: "Poppins", sans-serif;
}

.parent {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.bd {
  border: 2px solid black;
}
/* .ot {
  outline: 2px solid black;
} */

.ff-pp {
  font-style: var(--ff-pp);
}

.ot-orange {
  outline: 2px solid orange;
}
